<div>
  {{title1}}
  <ol>
    <li *ngFor="let mcq of mcqlist">
      <h5>{{mcq.qus }} {{ mcq.title}}</h5>
      <input
        type="radio"
        name="a"
        (click)="onSelect(mcq,mcq.opt1)"
      />{{mcq.opt1}}<br />
      <input
        type="radio"
        name="a"
        (click)="onSelect(mcq,mcq.opt2)"
      />{{mcq.opt2}}<br />
      <input
        type="radio"
        name="a"
        (click)="onSelect(mcq,mcq.opt3)"
      />{{mcq.opt3}}<br />
      <input
        type="radio"
        name="a"
        (click)="onSelect(mcq,mcq.opt4)"
      />{{mcq.opt4}}
    </li>
  </ol>
</div>
